@model IEnumerable<Net5AnimeStore.Models.Console>

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var console in Model)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <img src="@console.ImageUrl" class="card-img-top" alt="@console.Name">
                <div class="card-body">
                    <h5 class="card-title">@console.Name</h5>
                    <p class="card-text">@console.ShortDescription</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">R$ @console.Price</li>
                    </ul>
                    <br />
                    <a href="/console/detail/@console.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>

<a href="/console/create" class="btn btn-info">Add</a>