@model Figure

<div class="media">
    <img src="@Model.ImageUrl" class="align-self-center mr-3" alt="@Model.Name">
    <div class="media-body">
        <h5 class="mt-0">@Model.Name</h5>
        <p>@Model.LongDescription</p>
        <p class="mb-0">R$ @Model.Price</p>
    </div>

    <a href="/figure/edit/@Model.Id" class="btn btn-info">Update</a>
    <a href="/figure/remove/@Model.Id" class="btn btn-danger">Remove</a>
</div>