@model IEnumerable<Game>

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var game in Model)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <img src="@game.ImageUrl" class="card-img-top" alt="@game.Name">
                <div class="card-body">
                    <h5 class="card-title">@game.Name</h5>
                    <p class="card-text">@game.ShortDescription</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">R$ @game.Price</li>
                    </ul>
                    <br />
                    <a href="/game/detail/@game.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>

<a href="/game/create" class="btn btn-info">Add</a>